/**{*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/
body {
  background-color: #000000;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 0;
}

header {
  height: 50px;
}

.el-date-editor--daterange.el-input,
.el-date-editor--daterange.el-input__inner,
.el-date-editor--timerange.el-input,
.el-date-editor--timerange.el-input__inner{
  width: 70%;
  border: 0px;
}


